@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./Photos/regular1.gif');
    background-size: 100%;
}

.main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.elements {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.893);
    width: 336px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #fcd424;
    width: 336px;
    height: 28px;
    margin-top: -0.8px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.name {
    display: flex;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: 16px;
}

.filter {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    display: flex;
    margin-right: 15px;
}

.enterTaskInput {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border-radius: 10px;
    margin-bottom: 8px;
    border: none;
    background: none;
    width: 250px;
    margin-top: 10px;
    height: 26px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.tasksDiv {
    border-radius: 10px;
    width: 286px;
    border: 1px solid #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin: auto;

}

ul {
    font-family: 'Roboto', sans-serif;
    overflow: scroll;

    max-height: 180px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 16.5px;
    padding-right: 16.5px;
    padding-top: 8px;
    list-style: none;
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background:none;
    overflow-x: hidden;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 20px;
    overflow-x: hidden;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      border-radius: 20px;
    background: #FFDC40; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffd000; 
  }

#taskListEl {

    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;

}
#edit-img{
    width: 25px;
    height: 25px;
}

#del_img {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}


.errorMessage {
    font-weight: 400;
    display: flex;
    font-size: 15px;
    color: #D9001D;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
}


.btnDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}

.addBtn {
    border-radius: 71px;
    background-image: url('/assets/Photos/add1.svg');
    border: 0;
    width: 150px;
    height: 42px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.addBtnText {
    margin-left: 13px;
}
.clear-all{
    
    width: 25px;
    height: 25px;
}
.clear-all-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}
.filter-div{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-right: 20px;
    justify-content: space-between;
}